/* POUR LE HEADER */
.navbar {
  box-shadow: 0px 6px 30px rgba(18, 19, 18, 0.055);
}
a.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

a.navbar-brand:hover {
  color: rgba(126, 124, 124, 0.87);
}
.navbar ul li a {
  font-size: 17px;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: red;
}
